{% extends '_base.html' %}
{% block title %}
    detail
{% endblock %}
{% block content %}
    <h1>{{ session.title }}</h1>
    <p>{{ session.start_time }}</p>
    <p>{{ session.end_time }}</p>
    {% for participant in session.participants.all %}
        <ul>
            <li>{{ participant.first_name }}</li>
        </ul>
    {% endfor %}
    <p>{% lorem 2 %}</p>
    
    <a href="{% url "edit_session" session.pk %}"> update</a>
    <a href="{% url "delete_session" session.pk %}">delete </a>

{% endblock %}